
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/p5/p5.js"></script>
    <script src="~/Scripts/Shared/Error404.js"></script>
    <title>404 Not Found</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
