
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center text-primary"><h2>My Song Collection</h2></div>
<div class="row">
    <table class="table table-bordered table-striped table-hover col-lg-8 offset-2">
        <tr class="text-center">
            <th>No.</th>
            <th>Name</th>
            <th>Album</th>
            <th>Rate</th>
            <th><i class="fas fa-trash"></i></th>
            <th><i class="fas fa-edit"></i></th>
        </tr>
    </table>
</div>