
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center text-primary"><h2>My Song Collection</h2></div>
<div class="row">
    <table class="table table-bordered table-striped table-hover col-lg-8 offset-2">
        <tr class="text-center">
            <th>No.</th>
            <th>Name</th>
            <th>Album</th>
            <th>Rate</th>
            <th><i class="fas fa-trash"></i></th>
            <th><i class="fas fa-edit"></i></th>
        </tr>
    </table>
</div>
<div class="container">
    <div class="row">

        <div class="col-sm-8 img-menu">
            <img class="text-center " src="~/Images/Upload/cat-1.jpg" style="max-width:100%" />
        </div>
        <div class="col-sm-4 text-center img-menu">
            <div>
                <img src="~/Images/Upload/banner-2.jpg" style="max-width:100%" />
            </div>
            <div style="padding-top:5%;">
                <img src="~/Images/Upload/banner-3.jpg" style="max-width:100%" />
            </div>
        </div>
    </div>
    <div class="latest-product">
        <div class="latest-product-title">
            <h5 style="margin-bottom:-1px; border-bottom:1px solid #ffc107; padding-bottom:10px;font-size:20px;display:inline-block;font-weight:400;">
                Latest Products
            </h5>
        </div>
        <div style="height:30px"></div>
        <div class="container latest-product-product">
            <div class="row">
                <div class="col-sm-3 latest-product-product-junior">
                    <a href="#"><span style="color:#FFF;     text-transform: uppercase;   padding: 0px 5px 1px 5px;background:#3b71aa;border-radius:3px;position:absolute;top:10%;right:10%">Sale!</span><img class="latest-product-img" src="~/Images/Upload/sanpham1.jpg" /></a>
                    <div>rating</div>
                    <span style="text-decoration: line-through;font-size:80%;    margin-right: 3px;">600.000</span><span>470.000</span>
                    <h3><a href="#">Tên Sản phẩm</a></h3>
                </div>
                <div class="col-sm-3 latest-product-product-junior">
                    <a href="#"><img class="latest-product-img" src="~/Images/Upload/sanpham1.jpg" /></a>
                    <div>rating</div>
                    <div><span>470.000</span></div>
                    <h3><a href="#">Tên Sản phẩm</a></h3>
                </div>
                <div class="col-sm-3 latest-product-product-junior">
                    <a href="#"><img class="latest-product-img" src="~/Images/Upload/sanpham1.jpg" /></a>
                    <div>rating</div>
                    <div><span>470.000</span></div>
                    <h3><a href="#">Tên Sản phẩm</a></h3>
                </div>
                <div class="col-sm-3 latest-product-product-junior">
                    <a href="#"><img class="latest-product-img" src="~/Images/Upload/sanpham1.jpg" /></a>
                    <div>rating</div>
                    <div><span>470.000</span></div>
                    <h3><a href="#">Tên Sản phẩm</a></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row view-img">
        <div class="col-sm-6">
            <img class="latest-product-img" src="~/Images/Upload/hinh1.png" />
        </div>

        <div class="col-sm-6">
            <img class="latest-product-img" src="~/Images/Upload/hinh2.png" />
        </div>
    </div>
    <div class="watch-collection">
        <div class="watch-collection-title">
            <h5 style="margin-bottom:-1px; border-bottom:1px solid #ffc107; padding-bottom:10px;font-size:20px;display:inline-block;font-weight:400;">
                Watch collection
            </h5>
        </div>
        <div style="height:30px"></div>
        <div class="container latest-product-product">
            <div class="row">
                <div class="col-sm-3 latest-product-product-junior">
                    <a href="#"><span style="color:#FFF;     text-transform: uppercase;   padding: 0px 5px 1px 5px;background:#3b71aa;border-radius:3px;position:absolute;top:10%;right:10%">Sale!</span><img class="latest-product-img" src="~/Images/Upload/sanpham1.jpg" /></a>
                    <div>rating</div>
                    <span style="text-decoration: line-through;font-size:80%;    margin-right: 3px;">600.000</span><span>470.000</span>
                    <h3><a href="#">Tên Sản phẩm</a></h3>
                </div>
                <div class="col-sm-3 latest-product-product-junior">
                    <a href="#"><img class="latest-product-img" src="~/Images/Upload/sanpham1.jpg" /></a>
                    <div>rating</div>
                    <div><span>470.000</span></div>
                    <h3><a href="#">Tên Sản phẩm</a></h3>
                </div>
                <div class="col-sm-3 latest-product-product-junior">
                    <a href="#"><img class="latest-product-img" src="~/Images/Upload/sanpham1.jpg" /></a>
                    <div>rating</div>
                    <div><span>470.000</span></div>
                    <h3><a href="#">Tên Sản phẩm</a></h3>
                </div>
                <div class="col-sm-3 latest-product-product-junior">
                    <a href="#"><img class="latest-product-img" src="~/Images/Upload/sanpham1.jpg" /></a>
                    <div>rating</div>
                    <div><span>470.000</span></div>
                    <h3><a href="#">Tên Sản phẩm</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="priceometer">
        <div class="priceometer-title">
            <h5 style="margin-bottom:-1px; border-bottom:1px solid #ffc107; padding-bottom:10px;font-size:20px;display:inline-block;font-weight:400;">
                Watch collection
            </h5>
        </div>
        <div style="height:30px"></div>
        <div class="container latest-product-product">
            <div class="row">
                <div class="col-sm-3">
                    <ul class="nav nav-tabs">
                        <li class="priceometer-nav">dá</li>
                        <li class="priceometer-nav">dsa</li>
                        <li class="priceometer-nav">đá</li>
                        <li class="priceometer-nav">dsa</li>
                        <li class="priceometer-nav">dá</li>
                    </ul>
                </div>
                <div class="col-sm-9">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
  
</script>